@import './../../public/fonts/fonts.css';
:root{
    // dark theme
    --bg-color: #0d0714;
    --main-black-10: #15101C;
    --main-pink-10: #9E78CF;
    --main-white-10:#FFFFFF;
    --main-purple-10: #3E1671;
    --main-black-20: #0D0714;
    --main-grey-10: #777777;
    --main-green-10: #78CFB0;


    // fonts
    --font-family: "Inter", sans-serif;
  
}